<div id=<%=comment.id%>_parent-<%=comment.parent_comment_id%> class="comment">
  <div class="comment_header">
    <%= image_tag (user_by_id(comment.user_id).avatar_link), width: 20, height: 20 %>
    <span><%= user_by_id(comment.user_id).login %></span>
    <span class="comments_links">
      <% if current_user %>
        <%= link_to 'Comment', [:create_comment, comment.article, comment], :remote => true %>
      <%end%>
      <% if current_user && comment.user_id == current_user.id %>
        <%= link_to 'Destroy Comment', [comment.article, comment],
                    method: :delete, :remote =>true,
                    data: { confirm: 'Are you sure?' } %>
      <%end%>
    </span>
  </div>
  <div id="comment_content">
    <%= comment.body %>
  </div>
  <div clas="answer_place"></div>
</div>